function Main.main 2
push constant 50
push constant 100
push constant 50
push constant 250
push constant 50
push constant 100
push constant 460
push constant 100
push constant 460
push constant 100
push constant 460
push constant 250
push constant 300
push constant 0
push constant 300
push constant 60
push constant 460
push constant 220
push constant 510
push constant 250
call Board.new 20
pop local 1
call SquareGame.new 0
pop local 0
push local 0
call SquareGame.run 1
pop temp 0
push local 0
call SquareGame.dispose 1
pop temp 0
push constant 0
return
